$color-black: #000;
$color-blue: blue;

.bar-track {
  position: relative;
  width: 520px;
  padding: 0 20px;

  .wrap-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba($color-black, .5);
    transition: height .2s;

    &:hover {
      cursor: pointer;
      height: 10px;

      .track-point {
        opacity: 1;
        width: 20px;
        height: 20px;
      }
    }

    .play-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgba($color-blue, .8);
    }

    .track-point {
      opacity: 0;
      position: absolute;
      top: -5px;
      width: 0;
      height: 0;
      border-radius: 20px;
      background-color: green;
      transform: translateX(-50%);
      transition-property: opacity, width, height;
      transition-duration: .1s;
    }
  }
}